{%  load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{%  static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="index.html">HOME</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="jinhae.html">진해</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gangreung.html">강릉</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Bongpyeong.html">봉평</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="inje.html">인제</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

       <!-- Page Header -->
    <header class="masthead" style="background-image: url('../../static/img/bong1.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>봉평을 소개합니다</h1>
                        <span class="subheading">#이효석문학관 #메밀꽃필무렵 #흥정계곡</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <img src="http://img.khan.co.kr/news/2017/08/31/l_2017090101000003000348581.jpg" alt="" />
                <p>"달은 지금 긴 산허리에 걸려 있다. 밤중을 지난 무렵인지 죽은 듯이 고요한 속에서 짐승 같은 달의 숨소리가 손에 잡힐 듯이 들리며, 콩 포기와 옥수수 잎새가 한층 달에 푸르게 젖었다. 산허리는 온통 메밀밭이어서 피기 시작한 꽃이 소금을 뿌린 듯이 흐붓한 달빛에 숨이 막힐 지경이다."</p>
                <p>이효석의 메밀꽃필무렵에서 작품 후반부에 나오는 대목으로 한국 소설 속 문장 중 가장 아름답다고 손꼽히는 문장 중 하나이다.</p>
                <p>이는 가장 봉평을 소개하는데 가장 어울리는 말이 아닐까 한다. 한컴 타자 연습에 있을 정도의 인지도를 가졌으며, 봉평면은 이 작품 덕에 먹고산다는 말이 있을 정도이다.</p>
                <img src="https://post-phinf.pstatic.net/MjAxOTA4MTlfMjgx/MDAxNTY2MTc1MDMzNjk3.IehKnvjmbK6G0VSXYWfvZyOadh_ejZSpmRxCqfNcsAIg.T7TZGCWls6c-J0WyXhUR_D2-lpdz609YiLYTFfmM1ocg.JPEG/1.-%EB%B4%89%ED%8F%89%EB%A9%94%EB%B0%80%EA%BD%83-%EB%B8%94%EB%A1%9C%EA%B7%B8%EC%82%BD%EC%9E%85%EB%A9%94%EC%9D%B8.jpg?type=w1200" alt="" />
                <p>9~10월에서 메밀 축제가 열린다. 저녁에 달빛을 받으며 메밀밭을 걸어 다녀보면 정말 이쁘다. 가기 전에 책을 읽고 가면 굉장히 감동적이다. </p>

                <p>축제에는 봉평 장히 열리며, 퓨전 난타, 굿놀이 등 옛날 민속놀이들을 볼 수 있다. 전통마당 프로그램에는 민속놀이 체험, 메밀꽃 마당 든, 뗏목체험, 대취타 공연, 전통 찹쌀떡 치기 등이 있다.</p>
                <p>문학마당 프로그램에는 이효석문학관에서 프로그램을 진행하며, 메밀 꽃 필 무렵 영화 상영, 이효석 작품 삽화 전시, 백일장, 사생대회, 문학 특강이 있다</p>
                <p>자연마당 프로그램에는 나귀를 타고 걸어보며, 포토존에서 사진 촬영, 메밀꽃열차, 메밀꽃 엽서 쓰기가 있다.</p>

                축제에 대해 자세히 알아보고 싶다면
                <a href="https://post.naver.com/viewer/postView.nhn?volumeNo=23718264&memberNo=44546307">https://post.naver.com/viewer/postView.nhn?volumeNo=23718264&memberNo=44546307를 눌러보도록 하자.</a></p>

                <img src="http://kids.donga.com/www/data/news/200909/s2009091614c.jpg" alt="" />
                <p> 본인은 봉평에 살아본 적이 있는데, 거주하면서 대취타를 배워본 적이 있다. 축제 때마다 열심히 참여했던 기억이 난다. </p>

                <img src="http://cfile237.uf.daum.net/image/11599D3F4DFEF69640D99E" alt="" />
                <p>평창을 떠난지 꽤 되었지만 가장 기억에 남는 것은 송어회이다. 가끔 봉평 친구들의 연락을 받으면 가끔 놀러가는데, 그 때마다 친구들이 직접 송어를 잡아 상을 차려주곤 한다... 진짜 맛있다. 사실 메밀막국수보다도 맛있다고 생각한다.</p>

                <img src="http://mblogthumb2.phinf.naver.net/MjAxNzA2MjhfNTcg/MDAxNDk4NjE2MzE4NTE4.GVhYgEiS5MpBe1W9UIJ0UUM9WkBccUSXMXAPqyrO7Egg.-bEal6pzmBFgY6gHktwt85Zb6v1bV25oqGvjyQ9d4Jgg.JPEG.pc_happy700/%ED%9D%A5%EC%A0%95%EA%B3%84%EA%B3%A105.jpg?type=w800" alt="" /> 사진 출처
                <a href="https://m.blog.naver.com/PostView.nhn?blogId=pc_happy700&logNo=221039291135&proxyReferer=https%3A%2F%2Fwww.google.com%2F">https://m.blog.naver.com/PostView.nhn?blogId=pc_happy700&logNo=221039291135&proxyReferer=https%3A%2F%2Fwww.google.com%2F</a></p>

                <p>주요 여행지로는 정말 많은 곳이 있지만 꼭 가봐야 할 곳은 흥정계곡이 있다. 예전에 비해 물이 많이 빠졌지만, 전성기때는 흥정계곡으로 놀러오기 위해 펜션예약을 잡는 손님들이 많았다. 겨울에는 스키장, 여름에는 계곡으로 인해 일년내내 사람이 붐비곤 했다.</p>

                <div id="daumRoughmapContainer1575301727599" class="root_daum_roughmap root_daum_roughmap_landing"></div>

                <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

                <script charset="UTF-8">
                    new daum.roughmap.Lander({
                        "timestamp": "1575301727599",
                        "key": "w3om",
                        "mapWidth": "640",
                        "mapHeight": "360"
                    }).render();
                </script>
            </div>
        </div>
    </div>

    <hr>

   <!-- Bootstrap core JavaScript -->
    <script src= '{%  static "vendor/jquery/jquery.min.js" %}'></script>
    <script src='{%  static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

    <!-- Custom scripts for this template -->
    <script src='{% static "js/clean-blog.min.js"%}'></script>

</body>

</html>
