{%  load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
     <link href="{%  static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="index.html">HOME</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                   <li class="nav-item">
                        <a class="nav-link" href="jinhae.html">진해</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gangreung.html">강릉</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Bongpyeong.html">봉평</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="inje.html">인제</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static 'img/flower.jpg' %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>진해를 소개합니다</h1>
                        <span class="subheading">#벚꽂</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>진해 벚꽃 예술제</p>
	<p>경상남도 창원시 진해구에서 매년 4월에 열리는 종합 예술제 입니다.
예술제의 행사는 크게 두 가지로 분리되는데, 첫째는 예술적 재능을 발휘하는 전국 예술 경연 대회,
 두 번째는 시민의 예술적 정서를 함양하는 예술 문화 행사 입니다.</p>
            <IMG width = "800px" height ="600px" src="../../static/img/jinhae1.jpg">
            <p>벚꽃이 만개한 진해의 풍경</p>
            <iframe width="789" height="444" src="https://www.youtube.com/embed/sftb_93a5Q0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>벚꽃 축제를 담은 영상</p>
            <img width ="800px" height = "600px" src = "../../static/img/jinhae2.png">
            <p>진해 벚꽃축제에서 가장 유명한 장소. 철길을 따라 펼쳐진 벚꽃길과 들어오는 열차는 아름다운 풍경을 만들어냅니다.</p>
<!-- * 카카오맵  -->
<div id="daumRoughmapContainer1575629524084" class="root_daum_roughmap root_daum_roughmap_landing"></div>
<script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

<!-- 3. 실행 스크립트 -->
<script charset="UTF-8">
	new daum.roughmap.Lander({
		"timestamp" : "1575629524084",
		"key" : "w5sq",
		"mapWidth" : "640",
		"mapHeight" : "360"
	}).render();
</script>
            </div>
        </div>
    </div>

    <hr>


    <!-- Bootstrap core JavaScript -->
    <script src= '{%  static "vendor/jquery/jquery.min.js" %}'></script>
    <script src='{%  static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

    <!-- Contact Form JavaScript -->
    <script src= '{%  static "js/jqBootstrapValidation.js" %}'></script>
    <script src= '{% static "js/contact_me.js" %}'></script>

    <!-- Custom scripts for this template -->
    <script src='{% static "js/clean-blog.min.js"%}'></script>

</body>

</html>